{% extends "wagtailadmin/generic/base.html" %}
{% load wagtailadmin_tags i18n vue_utils %}

{% get_current_language as LANGUAGE_CODE %}

{% block extra_css %}
    <style>
 
        /* Dark theme: keep default using CSS variable */
        .w-theme-dark main > :first-child {
            background: var(--w-color-surface-page);
        }

        /* Optional: Handle system preference if no theme class is added */
        @media (prefers-color-scheme: dark) {
            .w-theme-system main > :first-child {
                background: var(--w-color-surface-page);
            }
        }
    </style>

{% endblock %}

{% block main_content %}
    <div id="chart-view" data-api-url="{{ api_url }}" data-language-code="{{ LANGUAGE_CODE }}">
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="module" crossorigin src="{% vue_bundle_url 'chart-view' %}"></script>
{% endblock %}
