{% extends "wagtailadmin/generic/base.html" %}

{% load i18n wagtailadmin_tags static wagtailiconchooser_tags %}


{% block main_content %}
    <style>
        .c-panels-container {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            padding: 16px;
            margin-top: 40px;
        }

        .c-panel {
            display: flex;
            flex-direction: column;
            padding: 16px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
            min-height: 200px;
            min-width: 400px;
        }

        .c-panel-header {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #e4e4e4;
        }

        .c-panel-icon svg {
            height: 20px;
            width: 20px;
        }

        .c-panel-title {
            font-size: 1.2em;
            font-weight: bold;
            margin-left: 10px;
        }

        .c-panel-body {
            display: flex;
            flex: 1;
            padding: 16px 0;
            flex-direction: column;
            justify-content: center;
        }

        .c-panel-meta {
            margin-bottom: 10px;
        }

        .c-panel-meta-item {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .c-panel-link {
            margin-top: 10px;
        }

    </style>

    <div class="c-panels-container">
        {% for item in plugin_connections %}
            <div class="c-panel">
                <div class="c-panel-header">
                    <div class="c-panel-icon">
                        {% icon name="puzzle-piece" %}
                    </div>
                    <div class="c-panel-title">
                        {{ item.plugin.name }}
                    </div>
                </div>
                <div class="c-panel-body">
                    <div class="c-panel-meta">
                        <div class="c-panel-meta-item">
                            <strong>Connections:</strong> {{ item.connection.count }}
                        </div>
                    </div>
                    <div class="c-panel-link">
                        <a href="{{ item.connection.index_url }}"
                           class="button button-small bicolor button--icon button-secondary">
                            <span class="icon-wrapper">
                                <svg class="icon icon-list-ul icon" aria-hidden="true">
                                    <use href="#icon-list-ul"></use>
                                </svg>
                            </span>
                            View Connections
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

