sphinx_wagtail_theme
sphinx-rtd-theme
Sphinx
myst-parser
pyenchant
sphinxcontrib-spelling
sphinx-copybutton
Django
wagtail
sphinx-intl
sphinxcontrib-mermaid
sphinxcontrib-django
sphinx-autodoc-typehints

psycopg2-binary
django-timescaledb
psycopg2-binary>=2.9.9
-e ./adl